@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: darkgray;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 5vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section.normal {
    background-color: white;
}

section.normal > p {
    padding-bottom: 1em;
}

section.imagem {
    color: white;
    background-color: #222222;
    box-shadow: inset 6px 6px 13px 0 #00000050;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: #00000050;
    text-shadow: 1px 1px 0 #000000;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}